.dark-mode {
  background-color: #112936f7;
}

.dark-mode > h1 {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#story-button {
  margin: 20px;
}
